<!--The content below is only a placeholder and can be replaced.-->
<div fxFlexFill fxLayout="column" class="mat-typography">
  <mat-toolbar color="accent" fxLayout="row" >

    <button fxHide.gt-xs="true" mat-icon-button [matMenuTriggerFor]="mobileMenu">
      <mat-icon>menu</mat-icon>
    </button>

    <div fxHide.lt-sm fxLayout="row" fxLayoutAlign="center center">
      <button mat-button [matMenuTriggerFor]="evelMenu">El Voto Es Latino</button>
    </div>
    <div fxHide.lt-sm fxLayout="row" fxLayoutAlign="center center">
      <button mat-button [matMenuTriggerFor]="evelEducadosMenu">El Voto Es Latino Educados</button>
    </div>

    <div fxFlex></div>
    <div class="evel-social" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <a href="https://www.instagram.com/elvotoeslatino/" target="_blank"><img src="../assets/glyph-logo_May2016.png" alt="Instagram" height="30px" width="30px" /></a>
      <a href="https://www.facebook.com/elvotoeslatino/" target="_blank"><img src="../assets/flogo_RGB_HEX-72.png" alt="Facebook" height="30px" width="30px" /></a>
      <a href="https://twitter.com/ElVotoEsLatino/" target="_blank"><img src="../assets/Twitter_Logo_WhiteOnBlue.png" alt="Twitter" height="30px" width="30px" /></a>
      <mat-divider [vertical]="true"></mat-divider>
      <a><mat-icon style="font-size: 35px;">email</mat-icon></a>
    </div>

    <mat-menu #evelEducadosMenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>About</button>
      <button mat-menu-item>Nationwide Voter Info</button>
      <button mat-menu-item>Texas Voter Info</button>
      <button mat-menu-item>Donate</button>
    </mat-menu>

    <mat-menu #evelMenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>Services</button>
      <button mat-menu-item>About</button>
      <button mat-menu-item>Store</button>
      <button mat-menu-item>Endorsements</button>
      <button mat-menu-item>Candidates</button>
    </mat-menu>

    <mat-menu #mobileMenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="evelMenu">El Voto Es Latino</button>
      <button mat-menu-item [matMenuTriggerFor]="evelEducadosMenu">El Voto Es Latino Educados</button>
    </mat-menu>

  </mat-toolbar>
  <div class="evel-primary-container" fxFlex fxLayout="column">
    <div class="evel-page-container">
      <router-outlet></router-outlet>
    </div>
    <footer class="evel-footer" fxLayout="row" fxLayoutAlign="start end" style="min-height: 50px;">
      <address class="uppercase bold" style="text-align: left;" fxFlex>
        po box 8345 fort worth, tx 76124
      </address>
      <a href="mailto:info@elvotoeslatino.com" fxFlex style="text-align: center;">info&#64;elvotoeslatino.com</a>
      <small class="uppercase" fxFlex style="text-align: right;">&copy; Copyright {{copyrightYear}}, El Voto Es Latino</small>
    </footer>
  </div>
</div>
