<!--The content below is only a placeholder and can be replaced.-->
<div fxFlexFill fxLayout="column">
  <mat-toolbar color="accent">
    <button mat-button routerLink="/">
      <h2 class="uppercase evel-primary-text">El Voto Es Latino</h2>
    </button>
    <span fxFlex></span>
    
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button class="evel-primary-text" mat-button routerLink="/candidates" routerLinkActive="evel-active-link">Candidates</button>
      <button class="evel-primary-text" mat-button routerLink="/services" routerLinkActive="evel-active-link">Services</button>
  </div>

  <mat-menu #siteNav="matMenu">
    <button class="evel-primary-text" mat-button routerLink="/candidates" routerLinkActive="evel-active-link">Candidates</button>
    <button class="evel-primary-text" mat-button routerLink="/services" routerLinkActive="evel-active-link">Services</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="siteNav" fxHide="false" fxHide.gt-sm>
   <mat-icon>menu</mat-icon>
  </button>

  </mat-toolbar>
  <div class="evel-primary-container" fxFlex fxLayout="column">
    <div class="evel-page-container" fxFlex>
      <router-outlet></router-outlet>
    </div>
    <footer class="evel-footer">
      <h2> footer content </h2>
    </footer>
  </div>
</div>