<h1 style="text-align: center;">Services</h1>
<div fxLayout="row wrap" fxLayoutAlign="stretch" fxLayoutGap="10px" style="">

    <mat-card fxFlex="calc(50%-10px)">
      <mat-card-title>
        Phone Banking
      </mat-card-title>
      <mat-card-content>
        Our experienced volunteers will phone bank for our endorsed candidates at least three times during the course of a campaign.
      </mat-card-content>
    </mat-card>



  <mat-card fxFlex="calc(50%-10px)">
    <mat-card-title>
      Block Walking
    </mat-card-title>
    <mat-card-content>
      We will set up targeted block-walks for our endorsed candidates (location permitting)
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="calc(50%-10px)">
    <mat-card-title>
      Data Entry
    </mat-card-title>
    <mat-card-content>
      Data collection is imperative to a successful campaign, volunteers will enter data for at least eight collective hours for our endorsed candidates.
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="calc(50%-10px)">
    <mat-card-title>
      Social Media Marketing
    </mat-card-title>
    <mat-card-content>
      Any activity done on behalf of an endorsed candidate will be put on multiple social media platforms utilizing the hashtag of that particular campaign.
    </mat-card-content>
  </mat-card>
</div>
