<div fxFlex fxLayoutGap="20px" fxLayout="column" fxLayoutAlign="start stretch" style="overflow:auto; padding: 5px;">
  <mat-card *ngFor="let service of services" fxFlex>
    <mat-card-header>
      <mat-icon mat-card-avatar="" *ngIf="service.icon">{{service.icon}}</mat-icon>
      <mat-card-title>
        {{service.title}}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" >
      <div fxFlex.lt-md="" fxFlex="20" *ngIf="service.image">
        <img mat-card-image [attr.src]="service.image" [attr.alt]="service.imageAlt">
      </div>
      <p>{{service.description}}</p>
    </mat-card-content>
  </mat-card>
</div>
