<div class="evel-primary-panel" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center center">
    <h1 class="mat-display-4">
        tu voto es tu voz
    </h1>
  </div>
  <div class="evel-info-container" fxLayout="row" fxLayoutAlign="center center">
    
    <div class="evel-info-panel" fxLayout="column" fxLayoutAlign="start center" fxFlex>
      <h2>{{candidateCount}}</h2>
      <span>Candidates for 2018</span>
    </div>

    <div class="evel-info-panel" fxLayout="column" fxLayoutAlign="start center" fxFlex>
      <h2>{{latinoVote}}</h2>
      <span>Latinos eligible to cast votes</span>
    </div>

    <div class="evel-info-panel"  fxLayout="column" fxLayoutAlign="start center" fxFlex>
      <div>
        <h2>{{volunteerCount}}</h2><br/>
        <span>volunteers</span>
      </div>
    </div>
  
  </div>

  <div class="evel-secondary-panel">
    <h2>The Latino Voter</h2>
    <p>
      Democratic candidates can be cautiously optimistic when looking at the Hispanic/Latino vote. A full 2/3rds of Hispanic voters identify or lean Democratic, and among Hispanics, the Democratic Party image has only improved over the past 10 years. However, getting those people to the polls may prove to be a challenge. 
    </p>
    <p>
      Our grassroots efforts seek to help bridge the gap between candidates and the Latino community. Our bilingual volunteers phone bank and endorse candidates who embody the values of the Democratic Party.
    </p>  
    <p>
      We understand the power of this voting demographic. In the 2016 election, 27.3 million of Latinos were eligible to vote, an increase of 4 million from 2012 – this happens to be the largest increase of any racial or ethnic group. And the Latino electorate grew in many battleground states such as Arizona, Florida, and Nevada.
    </p>
    <p>
      We are also attuned to the concerns of the community which have been substantiated by various polling. On immigration issues, 68% of Hispanic voters opposed building a wall along the entire U.S. border with Mexico, according to NBC News exit polls. When asked about unauthorized immigrants, 78% of Hispanic voters said they should be offered a chance to apply for legal status. Overall, 46% of Hispanics cited the economy as the most important issue facing the country, followed by terrorism (20%), immigration (19%) and foreign policy (11%).
    </p>
  </div>
</div>