
  <div class="primary-image evel-primary-panel grayscale" fxLayout="column" style="height:100%">
    <div fxFlex="50" fxLayout="row" fxLayoutAlign="center center">
      <h1 class="uppercase bold index-title" style="text-align: center;">
          tu voto es tu voz
      </h1>
    </div>
    <div class="evel-info-container" fxFlex="50" fxHide.lt-md fxLayout="row" fxLayoutAlign="center center">

      <div class="evel-info-panel uppercase" fxLayout="column" fxLayoutAlign="start center" fxFlex>
        <h2 class="index-title">{{candidateCount | numberSummary}}</h2>
        <h3 class="bold">Candidates for 2018</h3>
      </div>

      <div class="evel-info-panel uppercase" fxLayout="column" fxLayoutAlign="start center" fxFlex>
        <h2 class="index-title">{{latinoVote | numberSummary}}</h2>
        <h3 class="bold">Latinos eligible to cast votes</h3>
      </div>

      <div class="evel-info-panel uppercase"  fxLayout="column" fxLayoutAlign="start center" fxFlex>
        <h2 class="index-title">{{volunteerCount | numberSummary}}</h2><br/>
        <h3 class="bold">volunteers</h3>
      </div>

    </div>
  </div>


  <div class="red-to-blue" fxLayout="row" fxLayout.lt-md="column" style="padding: 20px;">
    <div style="padding: 5px;" fxFlex>
      <h2 class="uppercase" fxHide.lt-md>El Voto Es Latino</h2>
      <h3 class="" style="text-align: center;" fxHide.gt-sm>El Voto Es Latino</h3>
      <p class=""><span class="bold uppercase">EL VOTO ES LATINO</span> is an unincorporated Political Action Committee, which simply means we are not a big corporation. We are a small group with one goal: <span class="bold underlined">support candidates who support people.</span></p>
      <p class=""><span class="bold uppercase">EL VOTO ES LATINO</span> promotes the improvement of campaign engagement with the Latino community by encouraging our membership to take an active part in influencing governmental affairs through political action.</p>
      <p class=""><span class="bold uppercase">EL VOTO ES LATINO</span> is a voluntary, non-profit, unincorporated committee operated in conformance with state and federal law.</p>
      <p class=""><span class="bold uppercase">EL VOTO ES LATINO</span> believes that when people come together to create change, <span class="bold underlined">change will happen!</span></p>
      <p class=""><span class="bold uppercase">EL VOTO ES LATINO</span> believes in a government of, by, and for the people!</p>
    </div>
    <mat-divider fxHide.lt-md [vertical]="true"></mat-divider>
    <mat-divider fxShow.lt-md></mat-divider>
    <div style="padding: 5px;" fxFlex>
      <h2 class="uppercase" fxHide.lt-md>El Voto Es Latino Educados</h2>
      <h3 class="" style="text-align: center;" fxHide.gt-sm>El Voto Es Latino Educados</h3>
      <p class=""><span class="bold uppercase">El Voto Es Latino Educados's</span> primary goal is to bridge the gap between Latinos and the ballot box.</p>
      <p class="">One of the primary ways we do this is through education on the voting and electoral process</p>
      <p class="">Some of the topics we address:</p>
      <ul class="">
        <li>how to register</li>
        <li>how to vote</li>
        <li>upcoming elections</li>
        <li>the duties of elected officials</li>
        <li>current voting requirements</li>
      </ul>
    </div>
  </div>
