/* You can add global styles to this file, and also import other style files */

/*
#F46569 - Red
#E8E161 - Yellow
#BEE5FB - Blue
*/
html {
  height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  height: 100vh;
}

app-root {
  height: 100vh;
  overflow: hidden;
}

.bold {
  font-weight: bold;
}

.underlined {
  text-decoration: underline;
}

.primary-image {
  min-height: 500px; background: url('assets/36085108_189015118461159_505552586003185664_n.jpg') no-repeat fixed center;
  background-size: cover;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.evel-primary-container{
}

.evel-page-container {
    /* background: linear-gradient(#e8e161, #F46569, #bee5fb); */
}

.evel-footer {
    background-color: #bee5fb;
}

.evel-active-link {
    text-decoration: underline;
}

/* #385D70 */

.evel-tertiary-panel {
    background-color: #e8e161;
    color: #385D70
}

.uppercase {
    text-transform: uppercase;
}

.evel-primary-text {
    color: #F46569 !important;
}
